/* product.css */
body, html {
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    margin-top: 50px;
}

.header {
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    position: relative;
}

.title-underline {
    margin-top: -5px;
    border: 0;
: 2px solid #dcdcdc;
}

.form-label {
    font-weight: bold;
}

textarea {
    resize: none;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.form-check-label {
    margin-left: 10px;
}

#calendar {
    width: 100%;
}

/*.thumbnail {*/
/*    border: 1px solid #ddd;*/
/*    padding: 20px;*/
/*    height: 300px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: #f8f9fa;*/
/*}*/

.thumbnail img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.h-100 {
    height: 100%;
}

/* 기존 및 추가된 이미지를 그리드 레이아웃으로 정렬 */
.thumbnail-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.thumbnail-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* 썸네일 이미지를 특정 크기로 설정 */
#thumbnailContainer img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.thumbnail-image.selected {
    border: 3px solid #007bff;
}