<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 | 비스킷 페이 충전</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .input-wrapper {
            position: relative;
            display: inline-block;
        }
        .input-bold {
            font-weight: bold;
        }
    </style>
</head>
<body class="bg-gray">
<main class="contents" layout:fragment="content">
    <div class="container mx-auto flex" style="max-width: 1440px;">
        <aside class="w-52 p-4" style="max-width: 210px;">
            <a href="/user/mypage" class="block">
                <h2 class="text-2xl font-bold mb-4 transform hover:scale-105 transition-transform duration-300">마이 페이지</h2>
            </a>
            <ul class="space-y-2">
                <li>
                    <a href="/user/mypage" class="block text-left w-full text-gray-400 transform hover:scale-105 transition-transform duration-300">쇼핑 정보</a>
                </li>
                <li>
                    <a href="/user/order/purchases/history/auction" class="block text-left w-full text-gray-400 transform hover:scale-105 transition-transform duration-300">구매 내역</a>
                </li>
                <li>
                    <a href="/user/order/sales/history/auction" class="block text-left w-full text-gray-400 transform hover:scale-105 transition-transform duration-300">판매 내역</a>
                </li>
                <li>
                    <a href="/user/payment/info" class="block text-left w-full font-bold text-black transform hover:scale-105 transition-transform duration-300">결제</a>
                </li>
                <li>
                    <a href="/chat" class="block text-left w-full text-gray-400 transform hover:scale-105 transition-transform duration-300">채팅</a>
                </li>
            </ul>
        </aside>
        <section class="flex-1 p-4" style="max-width: 1230px;">
            <div class="max-w-4xl mx-auto bg-white p-6 mt-10 shadow-md rounded-md">
                <div class="border-b pb-8 mb-4">
                    <h1 class="text-2xl font-semibold mb-4">상품 정보</h1>
                    <div class="flex items-center justify-between">
                        <div class="flex items-center space-x-4">
                            <div th:each="productImage, iterStat : ${product.productImages}">
                                <img th:src="${productImage.productImg}" th:alt="'Product image of' + ${ product.productName }" style="width: 150px; height: 150px;">
                            </div>
                            <div>
                                <a th:href="@{/detailBuyer/{no}(no=${product.productNo})}" th:text="${product.productName}" class="text-lg font-semibold text-black hover:text-blue-700"></a>
<!--                                <p class="text-lg text-gray-500">260</p>-->
                            </div>
                        </div>
                        <table>
                            <tr>
                                <td class="text-lg font-semibold text-right">결제 금액</td>
                            </tr>
                            <tr>
                                <td id="price" class="text-lg font-bold text-right"
                                    th:text="${isAuctionPay ? product.bidSuccessPrice : product.buyNowPrice}">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="border-b pb-4">
                    <h1 class="text-2xl font-semibold mb-4">배송 정보</h1>
                    <div class="flex flex-col space-y-4">
                        <!-- 받는 분 -->
                        <div class="flex items-center">
                            <span class="text-gray-400 w-1/6">받는 분</span>
                            <input type="text" id="receiverName" class="border rounded p-2 w-2/6" placeholder="이름을 입력하세요" />
                        </div>
                        <!-- 연락처 -->
                        <div class="flex items-center">
                            <span class="text-gray-400 w-1/6">연락처</span>
                            <input type="text" id="contactNumber" class="border rounded p-2 w-2/6" placeholder="전화번호를 입력하세요" />
                            <span id="contactError" class="w-2/6 text-red-500 text-sm ml-3" style="display:none;">"-" 제외한 숫자만 입력해 주세요.</span>
                        </div>
                        <!-- 우편번호 및 주소 -->
                        <div class="flex items-center">
                            <span class="text-gray-400 w-1/6">우편번호</span>
                            <input type="text" id="sample6_postcode" placeholder="우편번호" class="border rounded p-2 w-1/6" readonly />
                            <button type="button" onclick="sample6_execDaumPostcode()" class="p-2 bg-blue-500 hover:bg-blue-600 text-white rounded ml-3">주소 검색</button>
                        </div>
                        <!-- 기본 주소 + 참고 항목 -->
                        <div class="flex items-center">
                            <span class="text-gray-400 w-1/6">주소</span>
                            <input type="text" id="sample6_address" placeholder="기본 주소" class="border rounded p-2 w-5/6" readonly />
                        </div>
                        <!-- 상세 주소 -->
                        <div class="flex items-center">
                            <span class="text-gray-400 w-1/6">상세 주소</span>
                            <input type="text" id="sample6_detailAddress" placeholder="상세 주소를 입력하세요" class="border rounded p-2 w-5/6" />
                        </div>
                        <!-- 배송 요청 사항 -->
                        <div class="flex items-center">
                            <span class="text-gray-400 w-1/6">배송 요청 사항</span>
                            <select id="deliveryRequest" name="deliveryRequest" class="border rounded p-2 w-5/6">
                                <option value="문 앞에 놔주세요.">문 앞에 놔주세요.</option>
                                <option value="경비실에 맡겨주세요.">경비실에 맡겨주세요.</option>
                                <option value="배송 전에 전화주세요.">배송 전에 전화주세요.</option>
                                <option value="직접 입력">판매자에게 직접 채팅으로 요청</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="border-b pt-4 pb-4 mb-4">
                    <h1 class="text-2xl font-bold mb-4">비스킷 페이</h1>
                    <div class="mb-2 text-lg">보유 잔액</div>
                    <div class="flex justify-between items-center mb-6">
                        <div class="text-2xl font-bold text-gray-800">
                            <span id="pay-balance" th:text="${pay.getPayBalance()}">0원</span>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-6">
                    <button id="btn-payment" class="bg-gray-400 text-white text-lg px-8 py-4 rounded" disabled>결제하기</button>
                </div>
            </div>

            <!-- 카카오 우편번호 API -->
            <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

            <script>
                function sample6_execDaumPostcode() {
                    new daum.Postcode({
                        oncomplete: function(data) {
                            var addr = '';
                            var extraAddr = '';

                            // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져옴
                            if (data.userSelectedType === 'R') {
                                addr = data.roadAddress;
                            } else {
                                addr = data.jibunAddress;
                            }

                            // 참고 항목 조합
                            if(data.userSelectedType === 'R'){
                                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                    extraAddr += data.bname;
                                }
                                if(data.buildingName !== '' && data.apartment === 'Y'){
                                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                }
                                if(extraAddr !== ''){
                                    extraAddr = ' (' + extraAddr + ')';
                                }
                            }

                            // 우편번호와 기본 주소와 참고 항목을 합쳐서 한 필드에 표시
                            document.getElementById('sample6_postcode').value = data.zonecode; // 우편번호 필드
                            document.getElementById('sample6_address').value = addr + extraAddr; // 기본 주소 필드

                            // 커서를 상세 주소 필드로 이동
                            document.getElementById('sample6_detailAddress').focus();
                        }
                    }).open();
                }
            </script>

            <!-- 연락처 포맷팅 -->
            <script>
                function handleContactNumberInput(event) {
                    const contactNumberInput = event.target;
                    const contactError = document.getElementById('contactError');

                    let contactNumber = contactNumberInput.value.replace(/[^0-9]/g, ''); // 숫자 이외의 문자는 제거

                    // 11자리까지만 허용
                    if (contactNumber.length > 11) {
                        contactNumber = contactNumber.slice(0, 11);
                    }

                    contactNumberInput.value = contactNumber;

                    // 입력 필드가 비어 있을 경우 오류 메시지를 표시하지 않음
                    if (contactNumber.length === 0) {
                        contactError.style.display = 'none';
                    } else if (contactNumber.length < 10) {
                        contactError.textContent = '전화번호를 다시 확인해 주세요.';
                        contactError.style.display = 'inline';
                    } else {
                        contactError.style.display = 'none';
                    }

                    // 포맷팅 처리: blur 이벤트에서만 적용
                    if (event.type === 'blur') {
                        if (contactNumber.length === 11) {
                            contactNumberInput.value = contactNumber.replace(/(\d{3})(\d{4})(\d{4})/, '$1-$2-$3');
                        } else if (contactNumber.length === 10) {
                            contactNumberInput.value = contactNumber.replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
                        }
                    }

                    // 포맷팅 해제: focus 이벤트에서만 적용
                    if (event.type === 'focus') {
                        contactNumberInput.value = contactNumber.replace(/-/g, '');
                    }
                }

                // 이벤트 리스너 등록
                const contactNumberField = document.getElementById('contactNumber');
                contactNumberField.addEventListener('input', handleContactNumberInput);
                contactNumberField.addEventListener('blur', handleContactNumberInput);
                contactNumberField.addEventListener('focus', handleContactNumberInput);
            </script>

            <!-- 결제하기 -->
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const priceElement = document.getElementById('price');
                    const payBalanceElement = document.getElementById('pay-balance');
                    const paymentButton = document.getElementById('btn-payment');

                    // 서버에서 전달된 사용자 및 제품 정보
                    const memberEmail = '[[${member.email}]]';
                    const productNo = '[[${product.productNo}]]';
                    const deliveryType = '[[${deliveryType}]]';
                    const orderTransactionType = 'AUCTION';

                    console.log(deliveryType);

                    // 결제 금액
                    const paymentAmount = parseInt(priceElement.textContent.replace(/[^0-9]/g, ''), 10);
                    // 보유 잔액
                    const payBalance = parseInt(payBalanceElement.textContent.replace(/[^0-9]/g, ''), 10);

                    // 배송 정보 필드
                    const receiverNameField = document.getElementById('receiverName');
                    const contactNumberField = document.getElementById('contactNumber');
                    const postcodeField = document.getElementById('sample6_postcode');
                    const deliveryAddressField = document.getElementById('sample6_address');
                    const detailAddressField = document.getElementById('sample6_detailAddress');
                    const deliveryRequestField = document.getElementById('deliveryRequest');

                    // 배송 정보 입력 확인 함수
                    function checkForm() {
                        const receiverName = receiverNameField.value.trim();
                        const contactNumber = contactNumberField.value.trim();
                        const postcode = postcodeField.value.trim();
                        const address = deliveryAddressField.value.trim();
                        const detailAddress = detailAddressField.value.trim();
                        const deliveryRequest = deliveryRequestField.value;

                        // 모든 필드가 채워져 있는지 확인
                        if (receiverName && contactNumber && postcode && address && detailAddress && deliveryRequest) {
                            paymentButton.disabled = false;
                            paymentButton.classList.remove('bg-gray-400');
                            paymentButton.classList.add('bg-green-500', 'hover:bg-green-600');
                            paymentButton.textContent = `${new Intl.NumberFormat('ko-KR').format(paymentAmount)}원 결제하기`;
                        } else {
                            paymentButton.disabled = true;
                            paymentButton.classList.remove('bg-green-500', 'hover:bg-green-600');
                            paymentButton.classList.add('bg-gray-400');
                            paymentButton.textContent = `결제하기`;
                        }
                    }

                    // 이벤트 리스너로 배송 정보 필드에 대한 유효성 검사 연결
                    receiverNameField.addEventListener('input', checkForm);
                    contactNumberField.addEventListener('input', checkForm);
                    detailAddressField.addEventListener('input', checkForm);
                    deliveryRequestField.addEventListener('change', checkForm);

                    // 주소가 변경될 때마다 폼 검사를 실행
                    postcodeField.addEventListener('input', checkForm);
                    detailAddressField.addEventListener('input', checkForm);

                    // 초기 폼 상태 검사
                    checkForm();

                    // 보유 잔액이 결제 금액보다 적을 경우, 충전 페이지로 이동하도록 버튼 변경
                    if (payBalance < paymentAmount) {
                        paymentButton.textContent = '페이 충전하기';
                        paymentButton.classList.remove('bg-green-500', 'hover:bg-green-600');
                        paymentButton.classList.add('bg-blue-500', 'hover:bg-blue-600');
                        paymentButton.disabled = false;

                        paymentButton.addEventListener('click', function () {
                            const insufficientAmount = paymentAmount - payBalance;
                            window.location.href = `/user/payment/deposit?`; // 페이 충전 페이지로 이동
                        });
                    } else {
                        // 결제 처리 이벤트 추가
                        paymentButton.addEventListener('click', function () {
                            if (paymentButton.disabled) {
                                return; // 버튼이 비활성화된 상태에서는 동작하지 않음
                            }

                            // 배송 정보 가져오기
                            const receiverName = receiverNameField.value.trim();
                            const contactNumber = contactNumberField.value.trim();
                            const postcode = postcodeField.value.trim();
                            const deliveryAddress = deliveryAddressField.value.trim();
                            const detailAddress = detailAddressField.value.trim();
                            const deliveryRequest = deliveryRequestField.value;

                            // isAuctionPay에 따른 deliveryType 설정
                            let finalDeliveryType = deliveryType; // 기본적으로 기존 deliveryType 사용
                            if ('[[${isAuctionPay}]]' === 'true') {
                                finalDeliveryType = 'ESCROW'; // 경매 결제일 경우 ESCROW로 설정
                            }

                            // 결제 처리 로직
                            const paymentData = {
                                email: memberEmail,
                                productNo: productNo,
                                paymentAmount: paymentAmount,
                                paymentType: 'BISCUIT_PAY',
                                paymentTransactionType: 'WITHDRAWAL',
                                deliveryType: finalDeliveryType,
                                orderTransactionType: orderTransactionType,
                                receiverName: receiverName,
                                contactNumber: contactNumber,
                                postcode: postcode,
                                deliveryAddress: deliveryAddress,
                                detailAddress: detailAddress,
                                deliveryRequest: deliveryRequest
                            };
                            console.log('---->', JSON.stringify(paymentData));

                            // 서버에 결제 요청을 보냅니다.
                            fetch('/user/payment/process', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(paymentData)
                            })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('결제 처리 중 오류가 발생했습니다.');
                                }
                                return response.json(); // 응답을 JSON으로 처리
                            })
                            .then(data => {
                                // 결제가 성공적으로 처리된 경우
                                alert(data.message);
                                window.location.href = '/user/order/purchases/history/completed'; // 결제 완료 후 리다이렉션할 페이지
                            })
                            .catch(error => {
                                // 결제 처리 중 오류가 발생한 경우
                                alert(error.message);
                            });
                        });
                    }
                });
            </script>

            <!-- 보유 잔액 포맷팅 -->
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const payBalanceElement = document.getElementById('pay-balance');
                    const payBalanceValue = parseInt(payBalanceElement.textContent, 10);
                    payBalanceElement.textContent = new Intl.NumberFormat('ko-KR').format(payBalanceValue) + '원';
                });
            </script>

            <!-- 가격 포맷팅 -->
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const priceElement = document.getElementById('price');
                    const priceValue = parseInt(priceElement.textContent, 10);
                    priceElement.textContent = new Intl.NumberFormat('ko-KR').format(priceValue) + '원';
                })
            </script>

        </section>
    </div>
</main>
</body>
</html>