<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이 페이지</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<main class="contents" layout:fragment="content">
    <div class="container mx-auto flex" style="max-width: 1440px;">
        <aside class="w-52 p-4" style="max-width: 210px;">
            <a href="/user/mypage" class="block">
                <h2 class="text-2xl font-bold mb-4 transform hover:scale-105 transition-transform duration-300">마이 페이지</h2>
            </a>
            <ul class="space-y-2">
                <li>
                    <a href="/user/mypage" class="block text-left w-full text-gray-400 transform hover:scale-105 transition-transform duration-300">쇼핑 정보</a>
                </li>
                <li>
                    <a href="/user/order/purchases/history/auction" class="block text-left w-full text-gray-400 transform hover:scale-105 transition-transform duration-300">구매 내역</a>
                </li>
                <li>
                    <a href="/user/order/sales/history/auction" class="block text-left w-full text-gray-400 transform hover:scale-105 transition-transform duration-300">판매 내역</a>
                </li>
                <li>
                    <a href="/user/payment/info" class="block text-left w-full font-bold text-black transform hover:scale-105 transition-transform duration-300">결제</a>
                </li>
                <li>
                    <a href="/chat" class="block text-left w-full text-gray-400 transform hover:scale-105 transition-transform duration-300">채팅</a>
                </li>
            </ul>
        </aside>
        <section class="flex-1 p-4" style="max-width: 1230px;">
            <div class="max-w-4xl mx-auto mt-10">
                <div class="flex items-center justify-between p-6 bg-blue-50 shadow-lg rounded-md">
                    <div class="flex flex-col items-center w-48">
                        <h1 class="text-2xl font-semibold text-blue-700 w-full text-left">Biscuit Pay</h1>
                        <span th:text="${pay.getPayBalance()}" id="pay-balance" class="mt-2 text-xl font-medium text-gray-700 w-full text-right">0원</span>
                    </div>
                    <div class="flex space-x-4">
                        <button class="px-5 py-3 bg-blue-500 text-white font-medium rounded-lg hover:bg-blue-600 transition duration-300" onclick="window.location.href='/user/payment/deposit'">페이 충전</button>
                        <button class="px-5 py-3 bg-red-500 text-white font-medium rounded-lg hover:bg-red-600 transition duration-300" onclick="window.location.href='/user/payment/withdrawal'">페이 출금</button>
                    </div>
                </div>

                <div class="mt-6">
                    <div class="flex items-center mb-4">
                        <label for="filter-options" class="sr-only">옵션 선택</label>
                        <select id="filter-options" class="p-2 border border-gray-300 rounded-md">
                            <option>전체</option>
                        </select>
                    </div>
                    <table class="min-w-full bg-white border border-gray-300">
                        <thead>
                        <tr class="bg-gray-100 border-b border-gray-300">
                            <th class="px-4 py-2 text-left">결제 유형</th>
                            <th class="px-4 py-2 text-left">결제 금액</th>
                            <th class="px-4 py-2 text-left">결제 일자</th>
                            <th class="px-4 py-2 text-left">상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="payment : ${payments}" class="border-b border-gray-300">
                            <td th:text="${payment.paymentType}" class="paymentType px-4 py-2">비스킷 페이</td>
                            <td th:text="${payment.amount}" class="amount px-4 py-2">300,000원</td>
                            <td th:text="${payment.createdAt}" class="tenderDate px-4 py-2">24/07/31</td>
                            <td th:text="${payment.paymentStatus}" class="paymentStatus px-4 py-2">결제취소</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <!-- 가격 포맷팅 -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const payBalanceElement = document.getElementById('pay-balance');
            const payBalanceValue = parseInt(payBalanceElement.textContent.replace(/[^0-9]/g, ''), 10);
            payBalanceElement.textContent = new Intl.NumberFormat('ko-KR').format(payBalanceValue) + '원';
        });
    </script>

    <!-- 날짜 포맷팅 -->
    <script>
        function formatDate(dateString) {
            const date = new Date(dateString);
            if (isNaN(date.getTime())) { // 유효한 날짜인지 확인
                console.error('Invalid date string:', dateString);
                return 'Invalid Date';
            }
            return date.toISOString().split('T')[0]; // YYYY-MM-DD
        }
    </script>

    <!-- 상태 포맷팅 -->
    <script>
        function formatStatus(status) {
            const statuses = {
                'BISCUIT_PAY': '비스킷페이',
                'KAKAO_PAY': '카카오페이',

                // 결제 상태 매핑
                'PENDING_PAYMENT': '결제대기',
                'PAID': '결제완료',
                'PAYMENT_CANCELLED': '결제취소'
            };
            return statuses[status] || '상태 불명';
        }
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // 날짜 포맷팅
            document.querySelectorAll('.tenderDate').forEach(function(elem) {
                const tenderDateValue = elem.textContent.trim();
                elem.textContent = formatDate(tenderDateValue);
            });

            // 상태 포맷팅
            document.querySelectorAll('.paymentType').forEach(function(elem) {
                const salesStatusValue = elem.textContent.trim();
                elem.textContent = formatStatus(salesStatusValue);
            });

            // 상태 포맷팅
            document.querySelectorAll('.paymentStatus').forEach(function(elem) {
                const salesStatusValue = elem.textContent.trim();
                elem.textContent = formatStatus(salesStatusValue);
            });

            // 가격 포맷팅
            document.querySelectorAll('.amount').forEach(function(elem) {
                const minTenderPriceValue = parseInt(elem.textContent.replace(/,/g, ''), 10);
                elem.textContent = new Intl.NumberFormat('ko-KR').format(minTenderPriceValue) + '원';
            });
            
        });
    </script>

</main>
</body>
</html>