server:
  port: 8080

spring:
  profiles:
    include:
      #      - dev
      #      - oauth
      - local
      - local-oauth

  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB

  thymeleaf:
    cache: false

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher