<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품 상세_입찰참여자</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/user/product/css/detail_auction.css" rel="stylesheet">
  <style>
    /* 차트와 표의 폭을 넓히는 CSS */
    .chart-table,
    .table-responsive {
      width: 100%;
    }
  </style>
</head>
<body>
<main class="contents" layout:fragment="content">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4"> <!-- 이미지 슬라이드를 위한 1/3 열 -->
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div th:each="productImage, iterStat : ${product.productImages}"
                 th:classappend="${iterStat.index == 0} ? 'active' : ''"
                 class="carousel-item">
              <img th:src="@{${productImage.productImg}}" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">이전</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">다음</span>
          </a>
        </div>
      </div>
      <div class="col-md-8 d-flex flex-column justify-content-center"> <!-- 버튼들을 위한 넓은 열 -->
        <div class="d-flex align-items-center justify-content-between"> <!-- 타이머와 버튼을 같은 행에 배치 -->
        <div class="d-flex align-items-center">
          <h3>경매 종료:</h3>
          <h3 id="timer" class="ml-3"></h3>
        </div>
          <div>
            <button class="btn btn-success">채팅하기</button> <!-- 채팅하기 버튼 추가 -->
            <button class="btn btn-danger ml-2" data-toggle="modal" data-target="#reportModal">신고하기</button>
          </div>
        </div>
        <div class="auction-header">
          <select id="auctionType" class="form-control mb-3" th:value="${product.salesStatus}" disabled>
              <option value="selling" th:selected="${product.salesStatus == 'selling'}">판매중</option>
              <option value="sale_completed" th:selected="${product.salesStatus == 'sale_completed'}">판매완료</option>
              <option value="trading" th:selected="${product.salesStatus == 'trading'}">예약중</option>
              <option value="sale_pause" th:selected="${product.salesStatus == 'sale_pause'}">판매중지</option>
          </select>
          <h4 th:text="${product.productName}"></h4>
        </div>
        <h5>카테고리</h5>
        <div>
          <select class="form-select" id="category" name="category" readonly>
            <option selected th:if="${product.category == 'tradingCard'}" >트레이딩 카드</option>
            <option selected th:if="${product.category == 'uniform'}">유니폼</option>
            <option selected th:if="${product.category == 'shoes'}">신발</option>
            <option selected th:if="${product.category == 'artToy'}">아트토이</option>
            <option selected th:if="${product.category == 'watch'}">시계</option>
            <option selected th:if="${product.category == 'bag'}">가방</option>
            <option selected th:if="${product.category == 'camera'}">카메라</option>
            <option selected th:if="${product.category == 'interior'}">인테리어</option>
          </select>
        </div>
        <h5>상품 설명</h5>
        <p th:text="${product.productDesc}"></p>
        <div class="price-sections"> <!-- 새로운 컨테이너 추가 -->
          <div class="buy-now-section text-center"> <!-- 중앙 정렬된 즉시 구매가 섹션 -->
            <h5>즉시 구매가</h5>
            <h3 th:if="${product.buyNowPrice != null}" th:text="|${product.buyNowPrice}원|"></h3>
          </div>
          <div class="auction-start-section text-center">
            <h5>경매 시작가</h5>
            <h3 th:text="|${product.auctionStartPrice}원|"></h3>
            <div class="button-group d-flex justify-content-center mb-3"> <!-- 버튼들을 수평으로 정렬 -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="reportModalLabel">신고하기</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="hidden" id="memberNo" th:value="${memberNo}" />
            <input type="hidden" id="productNo" th:value="${product.productNo}" />
            <div class="form-group">
              <label for="reportReason">신고 내용</label>
              <textarea class="form-control" id="reportReason" rows="4" placeholder="신고 사유를 작성해 주세요."></textarea>
            </div>
            <input type="hidden" id="acceptance" value="waiting" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">취소</button>
            <button type="button" class="btn btn-danger btn-block" id="submitReport">신고 완료</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>

    var duration = /*[[${durationMillis}]]*/ 0;

    function startTimer(duration, display) {
      var timer = duration, days, hours, minutes, seconds;
      setInterval(function () {
        days = parseInt(timer / (3600 * 24), 10);
        hours = parseInt((timer % (3600 * 24)) / 3600, 10);
        minutes = parseInt((timer % 3600) / 60, 10);
        seconds = parseInt(timer % 60, 10);

        days = days < 10 ? "0" + days : days;
        hours = hours < 10 ? "0" + hours : hours;
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = days + "일 " + hours + "시간 " + minutes + "분 " + seconds + "초";

        if (--timer < 0) {
          timer = duration;
        }
      }, 1000);
    }

    window.onload = function () {
      var display = document.querySelector('#timer');
      startTimer(duration, display);
    };

    var ctx = document.getElementById('priceChart').getContext('2d');
    var chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ['2024.08.01', '2024.08.02', '2024.08.03', '2024.08.04', '2024.08.05', '2024.08.06', '2024.08.07'],
        datasets: [{
          label: '가격',
          backgroundColor: 'rgba(0, 119, 204, 0.3)',
          borderColor: 'rgb(0, 119, 204)',
          data: [3000, 4000, 3200, 4800, 5300, 4500, 5000]
        }]
      },
      options: {}
    });

    document.getElementById("submitReport").addEventListener('click', function() {
      // FormData 객체를 생성합니다.
      const formData = new FormData();

      // FormData에 데이터를 추가합니다.
      formData.append('memberNo', document.getElementById("memberNo").value);
      formData.append('productNo', document.getElementById("productNo").value);
      formData.append('complainContent', document.getElementById("reportReason").value);
      formData.append('acceptance', 'waiting');

      // AJAX 요청을 jQuery로 보냅니다.
      $.ajax({
        url: '/api/products/report', // 서버로 요청을 보낼 URL입니다.
        type: 'POST', // 요청 타입을 POST로 설정합니다.
        processData: false, // 기본적으로 jQuery는 데이터를 쿼리 문자열로 처리하지만, FormData를 사용하면 이를 false로 설정해야 합니다.
        contentType: false, // 기본적으로 jQuery는 application/x-www-form-urlencoded를 사용하지만, FormData를 사용하면 contentType을 false로 설정해야 합니다.
        data: formData, // FormData 객체를 데이터로 전송합니다.
        success: function(response) {
          alert("신고가 접수되었습니다.");
          $('#reportModal').modal('hide'); // 신고 접수 후 모달을 닫습니다.
          window.location.href = '/detailAuction/' + document.getElementById("productNo").value; // 특정 페이지로 리디렉션합니다.
        },
        error: function(error) {
          alert("신고 접수에 실패했습니다.");
        }
      });
    });

  </script>
</main>
</body>
</html>