<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품 상세_구매자</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/user/product/css/detail_auction.css" rel="stylesheet">
  <style>
    /* 차트와 표의 폭을 넓히는 CSS */
    .chart-table,
    .table-responsive {
      width: 100%;
    }
    .chat{
      background-color: #21b15b;
      color: white;
      border: none;
      padding: 11px 24px;
      font-size: 13px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  </style>
  <script>
    let message = `[[${message}]]`;
    console.log(message);
    if(message){
      window.alert(message);
    }
  </script>
</head>
<body>
<main class="contents" layout:fragment="content">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4"> <!-- 이미지 슬라이드를 위한 1/3 열 -->
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div th:each="productImage, iterStat : ${product.productImages}"
                 th:classappend="${iterStat.index == 0} ? 'active' : ''"
                 class="carousel-item">
              <img th:src="@{${productImage.productImg}}" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">이전</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">다음</span>
          </a>
        </div>
      </div>
      <div class="col-md-8 d-flex flex-column justify-content-center"> <!-- 버튼들을 위한 넓은 열 -->
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <h3>경매 종료:</h3>
            <h3 id="timer" class="ml-3"></h3>
          </div>
          <div class="d-flex align-items-center">
            <form th:action="@{/chat/start}" method="post" class="mr-2">
              <input type="hidden" name="productNo" th:value="${product.productNo}" />
              <button type="submit" class="chat">채팅하기</button>
            </form>
            <button class="btn btn-danger" data-toggle="modal" data-target="#reportModal">신고하기</button>
          </div>
        </div>
        <div class="auction-header">
          <select id="auctionType" class="form-control mb-3" th:value="${product.salesStatus}" disabled>
            <option value="selling" th:selected="${product.salesStatus == 'selling'}">판매중</option>
            <option value="sale_completed" th:selected="${product.salesStatus == 'sale_completed'}">판매완료</option>
            <option value="trading" th:selected="${product.salesStatus == 'trading'}">예약중</option>
            <option value="sale_pause" th:selected="${product.salesStatus == 'sale_pause'}">판매중지</option>
          </select>
          <h4 th:text="${product.productName}"></h4>
        </div>
        <h5>카테고리</h5>
        <div>
          <select class="form-select" id="category" name="category" readonly>
            <option selected th:if="${product.category == 'tradingCard'}" >트레이딩 카드</option>
            <option selected th:if="${product.category == 'uniform'}">유니폼</option>
            <option selected th:if="${product.category == 'shoes'}">신발</option>
            <option selected th:if="${product.category == 'artToy'}">아트토이</option>
            <option selected th:if="${product.category == 'watch'}">시계</option>
            <option selected th:if="${product.category == 'bag'}">가방</option>
            <option selected th:if="${product.category == 'camera'}">카메라</option>
            <option selected th:if="${product.category == 'interior'}">인테리어</option>
          </select>
        </div>
        <h5>상품 설명</h5>
        <p th:text="${product.productDesc}"></p>
        <div class="price-sections"> <!-- 새로운 컨테이너 추가 -->
          <div class="auction-start-section text-center">
            <h5>경매 시작가</h5>
            <h3 th:if="${product.auctionStartPrice != null}" th:text="|${product.auctionStartPrice}원|" id="auction-start-price"></h3>
            <div class="button-group d-flex justify-content-center mb-3"> <!-- 버튼들을 수평으로 정렬 -->
              <!--              <a th:href="@{/auction/auctionregistform/{productNo}(productNo=${product.productNo})}"></a>-->
              <button type="button" class="btn btn-primary" id="onAuctionBtn"
                      th:disabled="${product.auctionSelected == false}">입찰 등록</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5" style="width: 100%;">
        <div class="col-md-6"> <!-- 표를 위한 넓은 열 -->
          <h4>입찰 현황</h4>
          <div class="table-responsive chart-table" style="width: 100%;"> <!-- 표의 오른쪽 끝을 맞추도록 너비 설정 -->
            <table id="bidMessage" class="table table-bordered" style="width: 100%;">
              <thead>
              <tr>
                <th style="width: 33%;">입찰자</th>
                <th style="width: 33%;">입찰가</th>
                <th style="width: 34%;">입찰 등록 날짜</th>
              </tr>
              </thead>
              <tbody id="bidding" >
              <tr th:each="auction : ${auctions}">
                <td th:text="${auction.member.email.split('@')[0].length() > 4 ? auction.member.email.split('@')[0].substring(0, auction.member.email.split('@')[0].length() - 4) + '****' + '@' + auction.member.email.split('@')[1] : '****' + '@' + auction.member.email.split('@')[1]}"></td>
                <td th:text="${#numbers.formatInteger(auction.maxTenderPrice, 0)} + ' 원'" id="bid-price"></td>
                <td th:text="${#temporals.format(auction.tenderDate, 'yyyy.MM.dd HH:mm:ss')}"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- 신고 모달 -->
    <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="reportModalLabel">신고하기</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="hidden" id="memberNo" th:value="${memberNo}" />
            <input type="hidden" id="productNo" th:value="${product.productNo}" />
            <div class="form-group">
              <label for="reportReason">신고 내용</label>
              <textarea class="form-control" id="reportReason" rows="4" placeholder="신고 사유를 작성해 주세요."></textarea>
            </div>
            <input type="hidden" id="acceptance" value="waiting" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">취소</button>
            <button type="button" class="btn btn-danger btn-block" id="submitReport">신고 완료</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script>

    function startTimer(duration, display) {
      var timer = duration, days, hours, minutes, seconds;
      var intervalId = setInterval(function () {
        if ("[[${product.salesStatus}]]" === 'sale_completed') {
          clearInterval(intervalId);
          display.textContent = "판매가 완료되었습니다.";
          return;
        }
        days = parseInt(timer / (3600 * 24), 10);
        hours = parseInt((timer % (3600 * 24)) / 3600, 10);
        minutes = parseInt((timer % 3600) / 60, 10);
        seconds = parseInt(timer % 60, 10);

        days = days < 10 ? "0" + days : days;
        hours = hours < 10 ? "0" + hours : hours;
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = days + "일 " + hours + "시간 " + minutes + "분 " + seconds + "초";

        if (--timer < 0) {
          clearInterval(intervalId);
          display.textContent = "경매가 종료되었습니다.";
          location.href = '/eventAuction/endAuction/'+ [[${product.productNo}]];
        }
      }, 1000);
    }

    window.onload = function () {
      var auctionendtime = "[[${product.auctionEndTime}]]";
      var auctionstarttime = new Date().getTime();
      console.log(auctionstarttime);
      var endTimeMs = new Date(auctionendtime).getTime();
      console.log(auctionendtime);
      console.log(auctionstarttime);
      console.log(endTimeMs);
      var duration = (endTimeMs - auctionstarttime) / 1000;
      if (duration < 0) {
        duration = 0;
      }
      var display = document.querySelector('#timer');
      startTimer(duration, display);
      if (duration === 0 || "[[${product.salesStatus}]]" !== 'selling') {
        document.getElementById('deleteAuction').disabled = true;
        document.getElementById('modifyAuction').disabled = true;
      }
    };


    document.getElementById("submitReport").addEventListener('click', function() {
      // FormData 객체를 생성합니다.
      const formData = new FormData();

      // FormData에 데이터를 추가합니다.
      formData.append('memberNo', document.getElementById("memberNo").value);
      formData.append('productNo', document.getElementById("productNo").value);
      formData.append('complainContent', document.getElementById("reportReason").value);
      formData.append('acceptance', 'waiting');

      // AJAX 요청을 jQuery로 보냅니다.
      $.ajax({
        url: '/api/products/report', // 서버로 요청을 보낼 URL입니다.
        type: 'POST', // 요청 타입을 POST로 설정합니다.
        processData: false, // 기본적으로 jQuery는 데이터를 쿼리 문자열로 처리하지만, FormData를 사용하면 이를 false로 설정해야 합니다.
        contentType: false, // 기본적으로 jQuery는 application/x-www-form-urlencoded를 사용하지만, FormData를 사용하면 contentType을 false로 설정해야 합니다.
        data: formData, // FormData 객체를 데이터로 전송합니다.
        success: function(response) {
          alert("신고가 접수되었습니다.");
          $('#reportModal').modal('hide'); // 신고 접수 후 모달을 닫습니다.
          window.location.href = '/detailAuction/' + document.getElementById("productNo").value; // 특정 페이지로 리디렉션합니다.
        },
        error: function(error) {
          alert("신고 접수에 실패했습니다.");
        }
      });
    });

    document.addEventListener("DOMContentLoaded", function() {
      // 즉시 구매가와 경매 시작가 포맷팅
      const auctionStartPriceElement = document.getElementById('auction-start-price');

      if (auctionStartPriceElement) {
        let price = parseInt(auctionStartPriceElement.textContent.replace(/[^0-9]/g, ''));
        auctionStartPriceElement.textContent = price.toLocaleString() + '원';
      }

      // 테이블 입찰가 포맷팅
      const bidPriceElements = document.querySelectorAll('#bid-price');

      bidPriceElements.forEach(function(element) {
        let price = parseInt(element.textContent.replace(/[^0-9]/g, ''));
        element.textContent = price.toLocaleString() + ' 원';
      });
    });

  </script>
  <script th:inline="javascript">
    var stompClient = null;
    var productNo = [[${product.productNo}]];
    var memberNo = [[${memberNo}]];
    var minTenderPrice = [[${lastPrice}]];

    function connectAndSubscribe() {
      var socket = new SockJS('/ws-stomp');
      stompClient = Stomp.over(socket);

      stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);
        stompClient.subscribe(`/pro/auction`, function (frame) {
          console.log('Received: ', frame.body);
          const data = JSON.parse(frame.body);
          showBid(data);  // 새로운 입찰 내역을 테이블에 추가
        });
      });
    }

    function sendBid(bidAmount) {
      const message = {
        memberNo: memberNo,
        productNo: productNo,
        maxTenderPrice: bidAmount,
        minTenderPrice: minTenderPrice,
      };
      stompClient.send(`/send/auction`, {}, JSON.stringify(message));
      console.log('Bid sent: ' + bidAmount);
    }

    function showBid(bidMessage) {
      var maskedEmail = maskEmail(bidMessage.email);
      $("#bidding").prepend(
              "<tr>" +
              "<td>" + maskedEmail + "</td>" +
              "<td>" + bidMessage.maxTenderPrice + " 원" + "</td>" +
              "<td>" + new Date().toLocaleString() + "</td>" +
              "</tr>"
      );
    }

    function maskEmail(email) {
      var emailParts = email.split('@');
      var emailLocalPart = emailParts[0];
      var emailDomainPart = emailParts[1];

      if (emailLocalPart.length > 4) {
        emailLocalPart = emailLocalPart.substring(0, emailLocalPart.length - 4) + '****';
      } else {
        emailLocalPart = '****';
      }

      return emailLocalPart + '@' + emailDomainPart;
    }

    document.getElementById("onAuctionBtn").addEventListener('click', function () {
      var bidAmount = prompt("입찰 금액을 입력하세요:"); // 입찰 금액 입력창
      if (bidAmount) {
        if (parseInt(bidAmount) < minTenderPrice) {
          alert("최소 " + minTenderPrice + "원 이상을 입력해주세요.");
        } else {
          sendBid(bidAmount); // 최소 입찰가 이상일 경우 입찰 메시지 전송
        }
      } else {
        alert("입찰 금액을 입력하세요.");
      }
    });

    $(document).ready(function () {
      connectAndSubscribe();  // 페이지가 로드될 때 WebSocket 연결 및 구독
    });
  </script>
</main>
</body>
</html>