<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품 상세_유찰</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/user/product/css/bid_failed.css" rel="stylesheet">
  <script>
    window.onload = function () {
      let message = `[[${message}]]`;
      // console.log(message);
      if (message) {
        window.alert(message);
      }
      if (window.Notification) {
        Notification.requestPermission();
      }
    }


    /** 알림기능 적용 시작 */

    /*window.onload = function () {
      if (window.Notification) {
        Notification.requestPermission();
      }
    }*/

    /** 알림기능 적용 끝 */

    /*=========== 알람 기능 시작 =============*/
    var productNo = [[${product.productNo}]];

    const eventSource = new EventSource('bidFailed/admin/notify/cancel/' + productNo)

    console.log(eventSource)

    console.log("=====")

    eventSource.addEventListener("canceled", function(event) {
      console.log(event.data)

      // 브라우저 푸시 알림 생성
      if (Notification.permission === 'granted') {
        new Notification('Bidssgket', {
          body: event.data,
        });

        // 첫 번째 알림을 수신한 후, SSE 연결 종료 및 서버에 알림 중단 요청
        $.ajax({
          url: `/stop-notification`,
          type: 'DELETE',
          success: function(result) {
            console.log(result);
          },
          error: function(xhr, status, error) {
            console.error('Error:', error);
          }
        });

        // 알림이 클릭되면 EventSource를 닫습니다.
        eventSource.close();

      }


    })
    /*=========== 알람 기능 끝 =============*/

  </script>
</head>
<body>
  <main class="contents" layout:fragment="content">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-4"> <!-- 이미지 슬라이드를 위한 1/3 열 -->
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div th:each="productImage, iterStat : ${product.productImages}"
                   th:classappend="${iterStat.index == 0} ? 'active' : ''"
                   class="carousel-item">
                <img th:src="@{${productImage.productImg}}" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">이전</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">다음</span>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex align-items-center">
            <h3>경매 종료:</h3>
            <h3 id="timer" class="ml-3">00일 00시 00분 00초</h3>
          </div>
          <div class="auction-header">
            <select id="auctionType" class="form-control" disabled>
              <option value="ongoing">경매 중</option>
              <option value="forSale">판매 중</option>
            </select>
            <h4 th:text="${product.productName}"></h4>
          </div>
          <p>카테고리: [[${product.category}]]</p>
          <p>상품 설명: [[${product.productDesc}]]</p>
          <div class="row">
            <div class="col-md-4" th:if="${product.buyNowPrice != null}">
              <div class="text-center buy-now-section">
                <h5>즉시 구매가</h5>
                <h3>[[${product.buyNowPrice}]] 원</h3>
              </div>
            </div>
            <div class="col-md-4" th:if="${product.auctionStartPrice != null}">
              <div class="text-center auction-start-section">
                <h5>경매 시작가</h5>
                <h3>[[${product.auctionStartPrice}]] 원</h3>
                <a th:if="${product.eventAuction != 'true'}" th:href="@{/auction/update/{productNo}(productNo=${product.productNo})}">
                  <button class="btn btn-secondary mt-2">경매 재개</button>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text-center auction-start-section">
                <h5>낙찰가</h5>
                <h3>[[${product.bidSuccessPrice != null ? product.bidSuccessPrice : 0}]] 원</h3>
                <form th:action="@{/auction/failbiddelete/{productNo}(productNo=${product.productNo})}" method="post">
                  <button id="deleteBtn" type="submit" class="btn btn-danger mt-2">삭제하기</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6">
          <h4>입찰 현황</h4>
          <div class="table-responsive chart-table"> <!-- 표의 오른쪽 끝을 맞추도록 너비 설정 -->
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>입찰자</th>
                <th>입찰가</th>
                <th>입찰 등록 날짜</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="auction : ${auction}">
                <td th:text="${auction.member.email.split('@')[0].length() > 4 ? auction.member.email.split('@')[0].substring(0, auction.member.email.split('@')[0].length() - 4) + '****' + '@' + auction.member.email.split('@')[1] : '****' + '@' + auction.member.email.split('@')[1]}"></td>
                <td th:text="${#numbers.formatInteger(auction.minTenderPrice, 0)} + ' 원'"></td>
                <td th:text="${#temporals.format(auction.tenderDate, 'yyyy.MM.dd HH:mm:ss')}"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

    </script>
  </main>
</body>
</html>