<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/user/main/css/mainpage.css">
    <title>카테고리별 상품</title>
</head>
<body layout:fragment="content">
<main class="container mt-5">
    <h2><strong>
        <span th:if="${category == 'tradingCard'}">트레이딩 카드</span>
        <span th:if="${category == 'uniform'}">유니폼</span>
        <span th:if="${category == 'shoes'}">신발</span>
        <span th:if="${category == 'artToy'}">아트토이</span>
        <span th:if="${category == 'watch'}">시계</span>
        <span th:if="${category == 'bag'}">가방</span>
        <span th:if="${category == 'camera'}">카메라</span>
        <span th:if="${category == 'interior'}">인테리어</span>
        <span th:if="${category == null}">상품</span> <!-- 기본값 설정 -->
    </strong></h2>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="realtime-tab" data-bs-toggle="tab" data-bs-target="#realtime" type="button" role="tab" aria-controls="realtime" aria-selected="true">최근 등록순</button>
        </li>
        <!--        <li class="nav-item" role="presentation">-->
        <!--            <button class="nav-link" id="closing-soon-tab" data-bs-toggle="tab" data-bs-target="#closing-soon" type="button" role="tab" aria-controls="closing-soon" aria-selected="false">실시간 경매</button>-->
        <!--        </li>-->
    </ul>
    <br>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="realtime" role="tabpanel" aria-labelledby="realtime-tab">
            <div class="row row-cols-1 row-cols-md-5 g-4">
                <div th:each="product : ${products}" class="col">
                    <div class="card h-100">
                        <div th:id="'carouselExample' + ${product.productNo}" class="carousel slide carousel-product" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div th:each="productImage, iterStat : ${product.productImages}" class="carousel-item" th:classappend="${iterStat.index == 0} ? ' active'">
                                    <a th:href="@{/detail/{productNo}(productNo=${product.productNo})}">
                                        <img th:src="@{${productImage.productImg}}" class="d-block w-100 card-img-top" th:alt="'이미지 ' + ${iterStat.index + 1}">
                                    </a>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample0" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample0" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a th:href="@{/detail/{productNo}(productNo=${product.productNo})}" th:text="${product.productName}" style="text-decoration-line: none; color: black;"></a>
                                <button class="wishheartbtn" th:data-product-no="${product.productNo}" th:onclick="toggleHeart(this)">
                                    <img th:src="@{/user/main/images/redh.png}" th:if="${#lists.contains(wishedProductIds, product.productNo)}" alt="관심 있음" class="wishheart">
                                    <img th:src="@{/user/main/images/empty_heart2.png}" th:unless="${#lists.contains(wishedProductIds, product.productNo)}" alt="관심 없음" class="wishheart">
                                </button>
                            </h5>
                            <p class="card-text">경매 종료 일자: <span th:text="${#temporals.format(product.auctionEndTime, 'yyyy-MM-dd HH:mm')}" id="auction-end-1"></span></p>
                            <p class="card-text" th:if="${product.buyNowPrice != null}">즉시 구매 가격: <span th:text="|${product.buyNowPrice}원|" id="current-price-1"></span></p>
                            <p class="card-text" th:if="${product.auctionStartPrice != null}">경매 시작가: <span th:text="|${product.auctionStartPrice}원|" id="starting-price-1"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function toggleHeart(button) {
        const productNo = button.getAttribute('data-product-no');
        const imgElement = button.children[0];

        fetch(`/wish/toggle`, {
            method: "POST",
            headers: {
                "Content-type": 'application/json'
            },
            body: JSON.stringify({ "productNo": productNo })
        }).then((res) => {
            return res.text();
        })
            .then(result => {
                if (result === "fail") {
                    window.location.href = "/login";
                } else {
                    const isWished = imgElement.src.includes('redh.png');
                    imgElement.src = isWished ? '/user/main/images/empty_heart2.png' : '/user/main/images/redh.png';
                }
            })
            .catch(error => console.error('Error:', error));
    }

    document.addEventListener('DOMContentLoaded', function () {
        const auctionEndTimes = document.querySelectorAll('[id^="auction-end-"]');

        auctionEndTimes.forEach(function (element) {
            let dateTime = element.textContent;
            let formattedDateTime = dateTime.replace('T', ' / ');

            element.textContent = formattedDateTime;

            document.querySelectorAll('.wishheartbtn').forEach(button => {
                const productNo = button.getAttribute('data-product-no');
                checkProductWishStatus(button, productNo);
            });
        });
    });

    function checkProductWishStatus(button, productNo) {
        if (!productNo) {
            console.error('없는 상품 번호');
            return;
        }
        fetch(`/wish/status?productNo=${productNo}`)
            .then(response => {
                return response.json();
            })
            .then(isWished => {
                const imgElement = button.querySelector('.wishheart');
                imgElement.src = isWished ? '/user/main/images/redh.png' : '/user/main/images/empty_heart2.png';
            })
            .catch(error => console.error('Error:', error));
    }

    document.addEventListener("DOMContentLoaded", function() {
        // 모든 '즉시 구매 가격' 요소를 선택
        const buyNowPriceElements = document.querySelectorAll('[id^="current-price-1"]');
        const auctionStartPriceElements = document.querySelectorAll('[id^="starting-price-1"]');

        // '즉시 구매 가격'에 콤마 추가
        buyNowPriceElements.forEach(function(element) {
            const price = parseInt(element.textContent);
            if (!isNaN(price)) {
                element.textContent = price.toLocaleString();
            }
        });

        // '경매 시작가'에 콤마 추가
        auctionStartPriceElements.forEach(function(element) {
            const price = parseInt(element.textContent);
            if (!isNaN(price)) {
                element.textContent = price.toLocaleString();
            }
        });
    });

</script>
</body>
</html>
