<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품 상세_입찰참여자</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/user/product/css/detail_auction.css" rel="stylesheet">
  <style>
    /* 차트와 표의 폭을 넓히는 CSS */
    .chart-table,
    .table-responsive {
      width: 100%;
    }
    .chat{
      background-color: #21b15b;
      color: white;
      border: none;
      padding: 11px 24px;
      font-size: 13px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  </style>
  <script>
    let message = `[[${message}]]`;
    console.log(message);
    if(message){
      window.alert(message);
    }
  </script>
</head>
<body>
<main class="contents" layout:fragment="content">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div th:each="productImage, iterStat : ${product.productImages}"
                 th:classappend="${iterStat.index == 0} ? 'active' : ''"
                 class="carousel-item">
              <img th:src="@{${productImage.productImg}}" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">이전</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">다음</span>
          </a>
        </div>
      </div>
      <div class="col-md-8 d-flex flex-column justify-content-center">
        <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <h3>경매 종료:</h3>
          <h3 id="timer" class="ml-3"></h3>
        </div>
          <div class="d-flex align-items-center">
            <form th:action="@{/chat/start}" method="post" class="mr-2">
              <input type="hidden" name="productNo" th:value="${product.productNo}" />
              <button type="submit" class="chat">채팅하기</button>
            </form>
            <button class="btn btn-danger" data-toggle="modal" data-target="#reportModal">신고하기</button>
          </div>
        </div>
        <div class="auction-header">
          <select id="auctionType" class="form-control mb-3" th:value="${product.salesStatus}" disabled>
              <option value="selling" th:selected="${product.salesStatus == 'selling'}">판매중</option>
              <option value="sale_completed" th:selected="${product.salesStatus == 'sale_completed'}">판매완료</option>
              <option value="trading" th:selected="${product.salesStatus == 'trading'}">예약중</option>
              <option value="sale_pause" th:selected="${product.salesStatus == 'sale_pause'}">판매중지</option>
          </select>
          <h4 th:text="${product.productName}"></h4>
        </div>
        <h5>카테고리</h5>
        <div>
          <select class="form-select" id="category" name="category" readonly>
            <option selected th:if="${product.category == 'tradingCard'}" >트레이딩 카드</option>
            <option selected th:if="${product.category == 'uniform'}">유니폼</option>
            <option selected th:if="${product.category == 'shoes'}">신발</option>
            <option selected th:if="${product.category == 'artToy'}">아트토이</option>
            <option selected th:if="${product.category == 'watch'}">시계</option>
            <option selected th:if="${product.category == 'bag'}">가방</option>
            <option selected th:if="${product.category == 'camera'}">카메라</option>
            <option selected th:if="${product.category == 'interior'}">인테리어</option>
          </select>
        </div>
        <h5>상품 설명</h5>
        <p th:text="${product.productDesc}"></p>
        <div class="price-sections">
          <div class="buy-now-section text-center">
            <h5>즉시 구매가</h5>
            <h3 th:if="${product.buyNowPrice != null}" th:text="|${product.buyNowPrice}원|" id="buy-now-price"></h3>
            <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#deliveryTypeModal"
                    th:disabled="${product.imdPurchase == false}">
              즉시 구매하기
            </button><!-- 아래 버튼들과 간격 추가 -->
          </div>
          <div class="auction-start-section text-center">
            <h5>경매 시작가</h5>
            <h3 th:text="|${product.auctionStartPrice}원|" id="auction-start-price"></h3>
            <div class="button-group d-flex justify-content-center mb-3"> <!-- 버튼들을 수평으로 정렬 -->
              <a th:href="@{/auction/auctionregistmodify/{productNo}(productNo=${product.productNo})}">
                <button type="button" class="btn btn-primary" id="modifyAuction" th:disabled="${product.salesStatus != 'selling'}">입찰 수정</button>
              </a>
              <form th:action="@{/auction/delete/{productNo}(productNo=${product.productNo})}" method="post">
                <button type="submit" id="deleteAuction" class="btn btn-danger" th:disabled="${product.salesStatus != 'selling'}">입찰 삭제</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="reportModalLabel">신고하기</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="hidden" id="memberNo" th:value="${memberNo}" />
            <input type="hidden" id="productNo" th:value="${product.productNo}" />
            <div class="form-group">
              <label for="reportReason">신고 내용</label>
              <textarea class="form-control" id="reportReason" rows="4" placeholder="신고 사유를 작성해 주세요."></textarea>
            </div>
            <input type="hidden" id="acceptance" value="waiting" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">취소</button>
            <button type="button" class="btn btn-danger btn-block" id="submitReport">신고 완료</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 거래 방식 선택 모달 -->
    <div class="modal fade" id="deliveryTypeModal" tabindex="-1" aria-labelledby="deliveryTypeModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deliveryTypeModalLabel">거래 방식 선택</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="deliveryTypeForm">
              <div class="form-group">
                <label for="deliveryType">거래 방식 선택</label>
                <select id="deliveryType" class="form-control">
                  <option value="IN_PERSON">직거래</option>
                  <option value="ESCROW">안전거래</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            <button type="button" class="btn btn-primary" id="submitDeliveryType">선택 완료</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-6">
          <h4>입찰 현황</h4>
          <div class="table-responsive chart-table">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>입찰자</th>
              <th>입찰가</th>
              <th>입찰 등록 날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="auction : ${auctions}">
              <td th:text="${auction.member.email.split('@')[0].length() > 4 ? auction.member.email.split('@')[0].substring(0, auction.member.email.split('@')[0].length() - 4) + '****' + '@' + auction.member.email.split('@')[1] : '****' + '@' + auction.member.email.split('@')[1]}"></td>
              <td th:text="${#numbers.formatInteger(auction.minTenderPrice, 0)} + ' 원'" id="bid-price"></td>
              <td th:text="${#temporals.format(auction.tenderDate, 'yyyy.MM.dd HH:mm:ss')}"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    function startTimer(duration, display) {
      var timer = duration, days, hours, minutes, seconds;
      var intervalId = setInterval(function () {
        if ("[[${product.salesStatus}]]" === 'sale_completed') {
          clearInterval(intervalId);
          display.textContent = "판매가 완료되었습니다.";
          return;
        }
        days = parseInt(timer / (3600 * 24), 10);
        hours = parseInt((timer % (3600 * 24)) / 3600, 10);
        minutes = parseInt((timer % 3600) / 60, 10);
        seconds = parseInt(timer % 60, 10);

        days = days < 10 ? "0" + days : days;
        hours = hours < 10 ? "0" + hours : hours;
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = days + "일 " + hours + "시간 " + minutes + "분 " + seconds + "초";

        if (--timer < 0) {
          clearInterval(intervalId);
          display.textContent = "경매가 종료되었습니다.";
          location.href = '/auction/endAuction/'+ [[${product.productNo}]];
        }
      }, 1000);
    }

    window.onload = function () {
      var auctionendtime = "[[${product.auctionEndTime}]]";
      var auctionstarttime = new Date().getTime();
      var endTimeMs = new Date(auctionendtime).getTime();
      var duration = (endTimeMs - auctionstarttime) / 1000;
      if (duration < 0) {
        duration = 0;
      }
      var display = document.querySelector('#timer');
      startTimer(duration, display);
      if (duration === 0 || "[[${product.salesStatus}]]" !== 'selling') {
        document.getElementById('deleteAuction').disabled = true;
        document.getElementById('modifyAuction').disabled = true;
      }
    };

    document.getElementById("submitReport").addEventListener('click', function() {
      const formData = new FormData();
      formData.append('memberNo', document.getElementById("memberNo").value);
      formData.append('productNo', document.getElementById("productNo").value);
      formData.append('complainContent', document.getElementById("reportReason").value);
      formData.append('acceptance', 'waiting');

      $.ajax({
        url: '/api/products/report',
        type: 'POST',
        processData: false,
        contentType: false,
        data: formData,
        success: function(response) {
          alert("신고가 접수되었습니다.");
          $('#reportModal').modal('hide');
          window.location.href = '/detailAuction/' + document.getElementById("productNo").value;
        },
        error: function(error) {
          alert("신고 접수에 실패했습니다.");
        }
      });
    });

    document.addEventListener("DOMContentLoaded", function() {
      // 즉시 구매가와 경매 시작가 포맷팅
      const buyNowPriceElement = document.getElementById('buy-now-price');
      const auctionStartPriceElement = document.getElementById('auction-start-price');

      if (buyNowPriceElement) {
        let price = parseInt(buyNowPriceElement.textContent.replace(/[^0-9]/g, ''));
        buyNowPriceElement.textContent = price.toLocaleString() + '원';
      }

      if (auctionStartPriceElement) {
        let price = parseInt(auctionStartPriceElement.textContent.replace(/[^0-9]/g, ''));
        auctionStartPriceElement.textContent = price.toLocaleString() + '원';
      }

      // 테이블 입찰가 포맷팅
      const bidPriceElements = document.querySelectorAll('#bid-price');

      bidPriceElements.forEach(function(element) {
        let price = parseInt(element.textContent.replace(/[^0-9]/g, ''));
        element.textContent = price.toLocaleString() + ' 원';
      });
    });

  </script>

  <!-- 즉시 구매 거래 방식 선택 완료 -->
  <script>
    document.getElementById("submitDeliveryType").addEventListener('click', function() {
      var deliveryType = document.getElementById("deliveryType").value;
      var productNo = "[[${product.productNo}]]";
      var checkoutUrl = `/user/payment/checkout/${productNo}?deliveryType=${deliveryType}`;
      window.location.href = checkoutUrl;
    });
  </script>

</main>
</body>
</html>