<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품 상세_판매자</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/user/product/css/detail_auction.css" rel="stylesheet">
  <style>
    /* 차트와 표의 폭을 넓히는 CSS */
    .chart-table,
    .table-responsive {
      width: 100%;
    }
  </style>
</head>
<body>
<main class="contents" layout:fragment="content">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4"> <!-- 이미지 슬라이드를 위한 1/3 열 -->
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div th:each="productImage, iterStat : ${product.productImages}"
                 th:classappend="${iterStat.index == 0} ? 'active' : ''"
                 class="carousel-item">
              <img th:src="@{${productImage.productImg}}" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">이전</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">다음</span>
          </a>
        </div>
      </div>
      <div class="col-md-8 d-flex flex-column justify-content-center"> <!-- 버튼들을 위한 넓은 열 -->
        <div class="d-flex align-items-center justify-content-between"> <!-- 타이머와 버튼을 같은 행에 배치 -->
        <div class="d-flex align-items-center">
          <h3>경매 종료:</h3>
          <h3 id="timer" class="ml-3"></h3>
        </div>
          <button class="btn btn-success">채팅하기</button> <!-- 채팅하기 버튼 추가 -->
        </div>
        <div class="auction-header">
          <select id="auctionType" class="form-control mb-3" th:value="${product.salesStatus}" disabled>
            <option value="selling" th:selected="${product.salesStatus == 'selling'}">판매중</option>
            <option value="sale_completed" th:selected="${product.salesStatus == 'sale_completed'}">판매완료</option>
            <option value="trading" th:selected="${product.salesStatus == 'trading'}">예약중</option>
            <option value="sale_pause" th:selected="${product.salesStatus == 'sale_pause'}">판매중지</option>
          </select>
          <h4 th:text="${product.productName}"></h4>
        </div>
        <h5>카테고리</h5>
        <div>
          <select class="form-select" id="category" name="category" readonly>
            <option selected th:if="${product.category == 'tradingCard'}" >트레이딩 카드</option>
            <option selected th:if="${product.category == 'uniform'}">유니폼</option>
            <option selected th:if="${product.category == 'shoes'}">신발</option>
            <option selected th:if="${product.category == 'artToy'}">아트토이</option>
            <option selected th:if="${product.category == 'watch'}">시계</option>
            <option selected th:if="${product.category == 'bag'}">가방</option>
            <option selected th:if="${product.category == 'camera'}">카메라</option>
            <option selected th:if="${product.category == 'interior'}">인테리어</option>
          </select>
        </div>
        <h5>상품 설명</h5>
        <p th:text="${product.productDesc}"></p>
        <div class="price-sections"> <!-- 새로운 컨테이너 추가 -->
          <div class="buy-now-section text-center"> <!-- 중앙 정렬된 즉시 구매가 섹션 -->
            <h5>즉시 구매가</h5>
            <h3 th:if="${product.buyNowPrice != null}" th:text="|${product.buyNowPrice}원|"></h3>
            <button class="btn btn-primary mb-3" type="button" id="deleteBtn">삭제하기</button> <!-- 아래 버튼들과 간격 추가 -->
          </div>
          <div class="auction-start-section text-center">
            <h5>경매 시작가</h5>
            <h3 th:if="${product.auctionStartPrice != null}" th:text="|${product.auctionStartPrice}원|"></h3>
            <div class="button-group d-flex justify-content-center mb-3"> <!-- 버튼들을 수평으로 정렬 -->
              <button class="btn btn-secondary" type="button" id="updateBtn">수정하기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6"> <!-- 표를 위한 넓은 열 -->
        <h4>입찰 현황</h4>
        <div class="table-responsive chart-table"> <!-- 표의 오른쪽 끝을 맞추도록 너비 설정 -->
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>입찰자</th>
              <th>입찰가</th>
              <th>입찰 등록 날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="auction : ${auctions}">
              <td th:text="${auction.member.email.split('@')[0].length() > 4 ? auction.member.email.split('@')[0].substring(0, auction.member.email.split('@')[0].length() - 4) + '****' + '@' + auction.member.email.split('@')[1] : '****' + '@' + auction.member.email.split('@')[1]}"></td>
              <td th:text="${#numbers.formatInteger(auction.minTenderPrice, 0)} + ' 원'"></td>
              <td th:text="${#temporals.format(auction.tenderDate, 'yyyy.MM.dd HH:mm:ss')}"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    function startTimer(duration, display) {
      var timer = duration, days, hours, minutes, seconds;
      var intervalId = setInterval(function () {
        if ("[[${product.salesStatus}]]" === 'sale_completed') {
          clearInterval(intervalId);
          display.textContent = "판매가 완료되었습니다.";
          return;
        }
        days = parseInt(timer / (3600 * 24), 10);
        hours = parseInt((timer % (3600 * 24)) / 3600, 10);
        minutes = parseInt((timer % 3600) / 60, 10);
        seconds = parseInt(timer % 60, 10);

        days = days < 10 ? "0" + days : days;
        hours = hours < 10 ? "0" + hours : hours;
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = days + "일 " + hours + "시간 " + minutes + "분 " + seconds + "초";
        let cnt = 0;
        if (--timer < 0) {
          clearInterval(intervalId);
          display.textContent = "경매가 종료되었습니다.";
          // location.href = '/auction/endAuction/'+ [[${product.productNo}]];
          /*if(cnt !== 0){
            display.textContent = "경매가 종료되었습니다.";
            location.href = '/auction/endAuction/'+ [[${product.productNo}]];
          }
          cnt++;*/
          setInterval(function() {
            location.href = '/auction/endAuction/' + [[${product.productNo}]];
          }, 3000);
        }
      }, 1000);
    }


    window.onload = function () {
      var auctionendtime = "[[${product.auctionEndTime}]]";
      var auctionstarttime = new Date().getTime();
      var endTimeMs = new Date(auctionendtime).getTime();
      var duration = (endTimeMs - auctionstarttime) / 1000;

      if (duration < 0) {
        duration = 0;
      }
      var display = document.querySelector('#timer');
      startTimer(duration, display);

      if (duration === 0 || "[[${product.salesStatus}]]" !== 'selling') {
        document.getElementById('updateBtn').disabled = true;
        document.getElementById('deleteBtn').disabled = true;
      }
    };

    document.getElementById('updateBtn').addEventListener('click',function (){
      let productNo = [[${product.productNo}]];
      location.href = '/update/'+ productNo;
    });

    document.getElementById('deleteBtn').addEventListener('click',function (){
      let productNo = [[${product.productNo}]];
      $.ajax({
        url: '/api/products/delete?productNo=' + productNo,
        type: 'delete',
        data: productNo,
        success: function (){
          alert("삭제에 성공하였습니다!!🚮")
          location.href = '/';
        },
        error: function () {
          alert("삭제 실패!!!!!")
        }
      });
    });


    /** 알림기능 적용 시작 */

    window.onload = function () {
      if (window.Notification) {
        Notification.requestPermission();
      }
    }

    /** 알림기능 적용 끝 */

    /*=========== 알람 기능 시작 =============*/
    var productNo = [[${product.productNo}]];

    const eventSource = new EventSource('admin/notify/close/seller/' + productNo)

    console.log(eventSource)

    console.log("=====")

    eventSource.addEventListener("closed", function(event) {
      console.log(event.data)

      // 브라우저 푸시 알림 생성
      if (Notification.permission === 'granted') {
        new Notification('Bidssgket', {
          body: event.data,
        });

        // 첫 번째 알림을 수신한 후, SSE 연결 종료 및 서버에 알림 중단 요청
        $.ajax({
          url: `/stop-notification`,
          type: 'DELETE',
          success: function(result) {
            console.log(result);
          },
          error: function(xhr, status, error) {
            console.error('Error:', error);
          }
        });

        // 알림이 클릭되면 EventSource를 닫습니다.
        eventSource.close();

      }


    })
    /*=========== 알람 기능 끝 =============*/
  </script>
</main>
</body>
</html>