<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 수정</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/user/product/css/update.css">
</head>
<body>
    <main class="contents" layout:fragment="content">
        <div class="container mt-5">
            <div class="header mb-4">
                <h2 class="title">상품 수정</h2>
                <hr class="title-underline">
            </div>
            <form id="updateForm" method="post" onsubmit="return validateForm()" enctype="multipart/form-data">
                <input type="hidden" id="deletedImages" name="deletedImagesId">
            <div class="row mb-4">
                <div class="col-md-6">
                    <!-- 기존 및 새로 추가된 이미지를 포함하는 컨테이너 -->
                    <div id="thumbnailContainer" class="thumbnail-container mb-3">
                        <!-- 기존 이미지를 그리드에 표시 -->
                        <th:block th:each="image : ${product.productImages}">
                            <img th:src="@{${image.productImg}}"  alt="이미지 미리보기" class="img-fluid rounded thumbnail-image" th:data-id="${image.productImgNo}">
<!--                            <input type="hidden" th:data-id="${image.productImgNo}" >-->
                        </th:block>
                    </div>
                    <div class="thumbnail text-center mb-3" id="thumbnailUploadArea" >
                        <!-- 파일 입력 요소를 여기로 이동 -->
                        <input class="form-control" type="file" id="productImages" name="productImages" accept="image/*" multiple style="display: none;">
<!--                        <input type="hidden" id="deletedImage" name="deletedImagesId">-->
                    </div>
                    <div class="mb-3">
                        <label for="productImages" class="form-label"></label>
                        <button id="uploadButton" class="btn btn-primary" type="button"><i class="fas fa-upload"></i> 사진 추가</button>
                        <button id="deleteButton" class="btn btn-danger" type="button"><i class="fas fa-trash"></i> 삭제</button>
                    </div>
                    <div class="mb-3">
                        <label for="productName" class="form-label">제목</label>
                        <input type="text" class="form-control" id="productName" name="productName" th:field="${product.productName}" style="width: 100%;">
                    </div>
                    <div class="mb-3">
                        <label for="salesStatus" class="form-label">판매 상태</label>
                        <select class="form-select" id="salesStatus" name="salesStatus" th:value="${product.salesStatus}">
                            <option value="selling" th:selected="${product.salesStatus == 'selling'}">판매중</option>
                            <option value="sale_completed" th:selected="${product.salesStatus == 'sale_completed'}">판매완료</option>
                            <option value="trading" th:selected="${product.salesStatus == 'trading'}">예약중</option>
                            <option value="sale_pause" th:selected="${product.salesStatus == 'sale_pause'}">판매중지</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">카테고리</label>
                        <select class="form-select" id="category" name="category" disabled>
                            <option selected th:if="${product.category == 'tradingCard'}" >트레이딩 카드</option>
                            <option selected th:if="${product.category == 'uniform'}">유니폼</option>
                            <option selected th:if="${product.category == 'shoes'}">신발</option>
                            <option selected th:if="${product.category == 'artToy'}">아트토이</option>
                            <option selected th:if="${product.category == 'watch'}">시계</option>
                            <option selected th:if="${product.category == 'bag'}">가방</option>
                            <option selected th:if="${product.category == 'camera'}">카메라</option>
                            <option selected th:if="${product.category == 'interior'}">인테리어</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="productDesc" class="form-label">내용</label>
                        <textarea class="form-control" id="productDesc" name="productDesc" rows="6" th:field="${product.productDesc}"></textarea>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" id="imdPurchase" name="imdPurchase" th:field="*{product.imdPurchase}">
                                <label class="form-check-label" for="imdPurchase">즉시 판매</label>
                            </div>
                            <div class="mb-3">
                                <label for="buyNowPrice" class="form-label">즉시 판매가</label>
                                <input type="text" class="form-control" id="buyNowPrice" name="buyNowPrice"
                                       th:field="*{product.buyNowPrice}" placeholder="즉시 판매가격을 입력하세요."
                                       oninput="formatPriceInput(this)">
                            </div>
                            <div class="col-md-6">
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" id="auctionSelected" name="auctionSelected" th:field="*{product.auctionSelected}">
                                    <label class="form-check-label" for="auctionSelected">경매</label>
                                </div>
                                <div class="mb-3">
                                    <label for="auctionStartPrice" class="form-label">경매 시작가</label>
                                    <input type="text" class="form-control" id="auctionStartPrice" name="auctionStartPrice"
                                           th:field="*{product.auctionStartPrice}" placeholder="경매 시작 가격을 입력하세요."
                                           oninput="formatPriceInput(this)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="dateRange" class="form-label">기간 선택</label>
                        <div class="d-flex">
                            <input type="datetime-local" class="form-control me-2" id="auctionStartTime" name="auctionStartTime" th:value="${product.auctionStartTime}" disabled>
                            <input type="datetime-local" class="form-control" id="auctionEndTime" name="auctionEndTime" th:value="${product.auctionEndTime}">
                        </div>
                    </div>
                    <div class="text-end">
                        <button class="btn btn-primary" type="submit" onclick="submitForm()">수정하기</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script>

            /** 알림기능 적용 시작 */

            window.onload = function () {
                if (window.Notification) {
                    Notification.requestPermission();
                }
            }

            /** 알림기능 적용 끝 */

            function submitForm() {
                var form = document.getElementById('productForm');
                var productNo = [[${product.productNo}]];
                console.log("Product No:", productNo);


                /*=========== 알람 기능 시작 =============*/
                const eventSource = new EventSource('detailSeller/admin/notify/change/' + productNo)

                console.log(eventSource)

                console.log("=====")

                eventSource.addEventListener("changed", function(event) {
                    console.log(event.data)

                    // 브라우저 푸시 알림 생성
                    if (Notification.permission === 'granted') {
                        new Notification('Bidssgket', {
                            body: event.data,
                        });

                        // 첫 번째 알림을 수신한 후, SSE 연결 종료 및 서버에 알림 중단 요청
                        $.ajax({
                            url: `/stop-notification`,
                            type: 'DELETE',
                            success: function(result) {
                                console.log(result);
                            },
                            error: function(xhr, status, error) {
                                console.error('Error:', error);
                            }
                        });

                        // 알림이 클릭되면 EventSource를 닫습니다.
                        eventSource.close();

                    }


                })
                /*=========== 알람 기능 끝 =============*/


                document.getElementById('productImages').value = '';
                console.log("파일 입력 필드 초기화");

                form.action = '/update/' + productNo;
                console.log("폼 액션 설정:", form.action);

                form.submit();
            }

            // 페이지 로드 시 가격 필드를 포맷팅하는 함수
            function formatPriceOnLoad(input) {
                let value = input.value.replace(/[^0-9]/g, ''); // 숫자 이외의 문자를 제거
                value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ","); // 세 자리마다 콤마 추가
                input.value = value; // 포맷팅된 값을 다시 입력 필드에 설정
            }

            // 페이지 로드 시 buyNowPrice와 auctionStartPrice 필드 포맷팅
            document.addEventListener('DOMContentLoaded', function() {
                const buyNowPriceField = document.getElementById('buyNowPrice');
                const auctionStartPriceField = document.getElementById('auctionStartPrice');

                if (buyNowPriceField) {
                    formatPriceOnLoad(buyNowPriceField); // 즉시 판매가 필드 포맷팅
                }

                if (auctionStartPriceField) {
                    formatPriceOnLoad(auctionStartPriceField); // 경매 시작가 필드 포맷팅
                }
            });

            function formatPriceInput(input) {
                // 입력된 값에서 숫자 이외의 문자를 모두 제거
                let value = input.value.replace(/[^0-9]/g, '');

                // 가격이 0인 경우 경고 메시지 표시 및 초기화
                if (value === '0') {
                    alert('가격은 0원이 될 수 없습니다. 다시 입력해주세요.');
                    input.value = ''; // 입력 필드 초기화
                    return;
                }

                // 세 자리마다 콤마 추가
                value = new Intl.NumberFormat().format(value);

                // 포맷팅된 값을 다시 입력 필드에 설정
                input.value = value;
            }

            document.getElementById('uploadButton').addEventListener('click', function(event) {
                event.preventDefault();
                document.getElementById('productImages').click();
            });

            document.getElementById('productImages').addEventListener('change', function(event) {
                const files = event.target.files;
                const thumbnailContainer = document.getElementById('thumbnailContainer');
                const existingImages = thumbnailContainer.getElementsByClassName('thumbnail-image').length;

                if (existingImages + files.length > 6) {
                    alert('사진은 최대 6개까지 업로드할 수 있습니다.');
                    return;
                }

                const formData = new FormData();  // 서버로 보낼 FormData 객체 생성
                for (let i = 0; i < files.length; i++) {
                    formData.append('productImages', files[i]);  // 각 파일을 FormData에 추가
                }

                formData.append('productNo', '[[${product.productNo}]]');

                for (let i = 0; i < files.length; i++) {
                    const reader = new FileReader();
                    reader.onload = function(){
                        const img = document.createElement('img');
                        img.src = reader.result;
                        img.classList.add('img-thumbnail', 'thumbnail-image');
                        thumbnailContainer.appendChild(img);
                    };
                    reader.readAsDataURL(files[i]);
                }

                $.ajax({
                    url: '/api/products/addImage',  // 파일 업로드를 처리하는 서버의 엔드포인트
                    type: 'POST',
                    data: formData,
                    contentType: false,  // FormData는 contentType을 지정하지 않음
                    processData: false,  // FormData는 processData를 하지 않음
                    success: function(data) {
                        console.log('성공!!!');
                    },
                    error: function(error) {
                        console.log('실패!!!');
                    }
                });

                resizeImages(); // 이미지 리사이즈 함수 호출
            });

            document.getElementById('deleteButton').addEventListener('click', function() {
                const thumbnailContainer = document.getElementById('thumbnailContainer');
                const selectedImages = thumbnailContainer.querySelectorAll('.thumbnail-image.selected');

                if (selectedImages.length === 0) {
                    alert('삭제할 이미지를 선택해주세요.');
                    return;
                }
                if (selectedImages.length > 1) {
                    alert('한 번에 이미지는 한장만 삭제할 수 있어요.');
                    return;
                }

                if (selectedImageId === null) {
                    alert('삭제할 이미지가 선택되지 않았습니다.');
                    return;
                }

                // 선택된 이미지를 화면에서 제거
                selectedImages[0].remove();

                // 삭제된 이미지 ID를 hidden input 필드에 추가
                let deletedImages = document.getElementById('deletedImages').value;
                deletedImages = deletedImages ? JSON.parse(deletedImages) : [];
                deletedImages.push(selectedImageId);
                document.getElementById('deletedImages').value = JSON.stringify(deletedImages);

                console.log("Deleted Image ID: ", selectedImageId); // 삭제할 이미지의 ID 확인용

                resizeImages(); // 이미지 리사이즈 함수 호출

                $.ajax({
                    url: "/api/products/image",
                    type: "delete",
                    data: { deleteImageId: selectedImageId },
                    success: function(data) {
                        if (data === "fail"){
                            alert("사진 삭제 실패!!!!");
                        } else {
                            console.log(data);
                            alert("사진이 삭제되었습니다!");
                            selectedImages[0].remove();
                            // window.location.reload();
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });

            function resizeImages() {
                const thumbnailContainer = document.getElementById('thumbnailContainer');
                const images = thumbnailContainer.getElementsByClassName('thumbnail-image');
                const size = '150px'; // 이미지 크기를 150px로 고정
                for (let i = 0; i < images.length; i++) {
                    images[i].style.width = size;
                    images[i].style.height = size;
                }
            }

            // 초기 이미지 크기 설정
            window.onload = function() {
                resizeImages();
            };

            let selectedImageId = null; // 선택된 이미지의 ID를 저장할 전역 변수

            // 이미지 클릭 시 선택/해제 기능 추가
            document.getElementById('thumbnailContainer').addEventListener('click', function(event) {
                if (event.target.classList.contains('thumbnail-image')) {
                    event.target.classList.toggle('selected');
                    // 선택된 이미지의 data-id 값을 전역 변수에 저장
                    if (event.target.classList.contains('selected')) {
                        selectedImageId = event.target.dataset.id;
                    } else {
                        selectedImageId = null; // 선택 해제 시 null로 설정
                    }
                    console.log("Selected Image ID: ", selectedImageId); // 선택된 이미지의 ID 확인용
                }
            });

            // 즉시 판매 체크박스와 경매 체크박스의 상태 변경 이벤트 추가
            document.getElementById('imdPurchase').addEventListener('change', function() {
                if (!this.checked) {
                    document.getElementById('buyNowPrice').value = ''; // 체크 해제 시 즉시 판매가를 null로 설정
                }
            });

            document.getElementById('auction').addEventListener('change', function() {
                if (!this.checked) {
                    document.getElementById('auctionStartPrice').value = ''; // 체크 해제 시 경매 시작가를 null로 설정
                }
            });

            function validateForm() {
                const auctionStartTime = document.getElementById('auctionStartTime').value;
                const auctionEndTime = document.getElementById('auctionEndTime').value;
                // 사진이 없는 경우 경고 메시지 표시
                const thumbnailContainer = document.getElementById('thumbnailContainer');
                const images = thumbnailContainer.getElementsByClassName('thumbnail-image');
                const productName = document.getElementById('productName');
                const salesStatus = document.getElementById('salesStatus');
                const productDesc = document.getElementById('productDesc');


                if ( !productName.value.trim() || !salesStatus.value.trim() || !productDesc.value.trim()) {
                    alert('입력하지 않은 공간이 있습니다! 다시 확인해주세요!');
                    return false;
                }

                // 가격이 0일 경우 경고 메시지 표시
                if (buyNowPriceField === '0' || auctionStartPriceField === '0') {
                    alert('가격은 0원이 될 수 없습니다. 다시 입력해주세요.');
                    return false; // 폼 제출 막음
                }

                if (images.length === 0) {
                    alert('사진을 최소 한 장 업로드해야 합니다!');
                    return false; // 폼 제출 막음
                }

                if (new Date(auctionStartTime) >= new Date(auctionEndTime)) {
                    alert('경매 종료 시간을 다시 확인해주세요!');
                    return false;
                }

                alert('수정이 성공적으로 완료되었습니다!');
                return true;
            }


        </script>
    </main>
</body>
</html>