<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이 페이지</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .biscuit-container {
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden; /* Ensure overflow is hidden to keep the image within bounds */
        }

        .biscuit-progress {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: conic-gradient(
                    transparent 50%,
                    transparent 100%
            );
            clip-path: circle(50% at 50% 50%);
        }

        .biscuit-image {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            transition: clip-path 0.3s ease;
        }
    </style>
</head>
<body>
<main class="contents" layout:fragment="content">
    <div class="container mx-auto flex" style="max-width: 1440px;">
        <aside class="w-52 p-4" style="max-width: 210px;">
            <a href="/user/mypage" class="block">
                <h2 class="text-2xl font-bold mb-4 transform hover:scale-105 transition-transform duration-300">마이 페이지</h2>
            </a>
            <ul class="space-y-2">
                <li>
                    <a href="/user/mypage" class="block text-left w-full font-bold text-black transform hover:scale-105 transition-transform duration-300">쇼핑 정보</a>
                </li>
                <li>
                    <a href="/user/order/purchases/history/auction" class="block text-left w-full text-gray-400 transform hover:scale-105 transition-transform duration-300">구매 내역</a>
                </li>
                <li>
                    <a href="/user/order/sales/history/auction" class="block text-left w-full text-gray-400 transform hover:scale-105 transition-transform duration-300">판매 내역</a>
                </li>
                <li>
                    <a href="/user/payment/info" class="block text-left w-full text-gray-400 transform hover:scale-105 transition-transform duration-300">결제</a>
                </li>
                <li>
                    <a href="/chat" class="block text-left w-full text-gray-400 transform hover:scale-105 transition-transform duration-300">채팅</a>
                </li>
            </ul>
        </aside>
        <section class="flex-1 p-4" style="max-width: 1230px;">
            <div class="flex space-x-4">
                <!-- Biscuit Index Card -->
                <div class="bg-blue-500 rounded-2xl p-6 shadow-lg w-96 h-60 flex flex-col justify-between transform hover:scale-105 transition-transform duration-300">
                    <div>
                        <div class="flex items-center space-x-2">
                            <div class="bg-white text-blue-500 rounded-full h-8 w-8 flex justify-center items-center shadow-md">
                                <i class="fas fa-cookie-bite"></i>
                            </div>
                            <span id="user-nickname" class="text-white text-lg font-semibold" th:text="${memberNickname}"></span>
                        </div>
                        <div class="bg-blue-700 p-4 rounded-lg shadow-lg mt-4">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center space-x-2 text-white">
                                    <span class="text-sm font-medium">비스킷 지수</span>
                                    <div class="biscuit-container">
                                        <div class="biscuit-progress"></div>
                                        <img id="biscuitImage" src="https://kr.object.ncloudstorage.com/bidssgket-file/cookie.png" alt="Biscuit" class="biscuit-image">
                                    </div>
                                </div>
                                <div class="flex items-center text-2xl font-bold text-orange-300 space-x-1">
                                    <span id="biscuitValue" th:text="${biscuit}"></span>
                                </div>
                            </div>
                            <div class="mt-2 relative">
                                <div class="relative w-full h-2 bg-blue-300 rounded-full">
                                    <div class="absolute top-0 left-0 h-2 bg-orange-300 rounded-full" th:style="'width: ' + ${biscuit} + '%'"></div>
                                    <div th:style="'left: ' + ${biscuit} + '%'" class="absolute top-0 transform -translate-x-1/2 -translate-y-1/2 w-0.5 h-4 bg-yellow-300"></div>
                                    <div th:style="'left: ' + ${biscuit} + '%'" class="absolute top-0 transform -translate-x-1/2 -translate-y-1/2 -mt-2 text-yellow-300">
                                        <i class="fas fa-star text-xs"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center space-x-4 mt-4">
                        <button class="bg-blue-700 text-white py-2 px-4 flex-1 rounded-lg shadow-md hover:bg-blue-800 transition-colors duration-200" onclick="window.location.href='/info'">회원 정보 조회</button>
                        <button class="bg-blue-700 text-white py-2 px-4 flex-1 rounded-lg shadow-md hover:bg-blue-800 transition-colors duration-200" onclick="window.location.href='/wish'">관심 상품 조회</button>
                    </div>
                </div>

                <!-- Right Card -->
                <div class="bg-green-500 rounded-2xl p-6 shadow-lg w-72 h-60 flex flex-col justify-between transform hover:scale-105 transition-transform duration-300">
                    <div>
                        <div class="flex items-center space-x-2">
                            <div class="bg-white text-green-500 rounded-full h-8 w-8 flex justify-center items-center shadow-md">
                                <i class="fas fa-money-bill-wave"></i>
                            </div>
                            <span class="text-white text-lg font-semibold">Biscuit Pay</span>
                        </div>
                        <div> </div>
                        <div class="flex justify-end mt-12">
                            <div th:text="${pay.getPayBalance()}" id="pay-balance" class="text-white text-2xl font-bold">0원</div>
                        </div>
                    </div>
                    <div class="flex justify-center space-x-4 mt-4">
                        <button class="px-5 py-3 bg-blue-500 text-white font-medium rounded-lg hover:bg-blue-600 transition duration-300" onclick="window.location.href='/user/payment/deposit'">페이 충전</button>
                        <button class="px-5 py-3 bg-red-500 text-white font-medium rounded-lg hover:bg-red-600 transition duration-300" onclick="window.location.href='/user/payment/withdrawal'">페이 출금</button>
                    </div>
                </div>
            </div>
            <div class="border rounded mt-4 p-4 mb-4">
                <div class="flex justify-between items-center">
                    <h3 class="text-xl font-bold">구매 내역</h3>
                    <a href="/user/order/purchases/history/auction" class="text-gray-500 hover:text-gray-700">내역 보기</a>
                </div>
                <div class="flex justify-between mt-4">
                    <div class="text-center w-1/4">
                        <p>전체</p>
                        <p th:text="${purchaseAuctionItems.size() + purchaseTradingItems.size() + purchaseCompletedItems.size()}" class="text-red-500 text-2xl">0</p>
                    </div>
                    <div class="text-center w-1/4">
                        <p>경매중</p>
                        <p th:text="${purchaseAuctionItems.size()}" class="text-black text-2xl">0</p>
                    </div>
                    <div class="text-center w-1/4">
                        <p>구매 중</p>
                        <p th:text="${purchaseTradingItems.size()}" class="text-black text-2xl">0</p>
                    </div>
                    <div class="text-center w-1/4">
                        <p>구매 완료</p>
                        <p th:text="${purchaseCompletedItems.size()}" class="text-black text-2xl">0</p>
                    </div>
                </div>
            </div>
            <div class="border rounded p-4 mb-4">
                <div class="flex justify-between items-center">
                    <h3 class="text-xl font-bold">판매 내역</h3>
                    <a href="/user/order/sales/history/auction" class="text-gray-500 hover:text-gray-700">내역 보기</a>
                </div>
                <div class="flex justify-between mt-4">
                    <div class="text-center w-1/4">
                        <p>전체</p>
                        <p th:text="${saleAuctionItems.size() + saleTradingItems.size() + saleCompletedItems.size()}" class="text-green-500 text-2xl">0</p>
                    </div>
                    <div class="text-center w-1/4">
                        <p>경매중</p>
                        <p th:text="${saleAuctionItems.size()}" class="text-black text-2xl">0</p>
                    </div>
                    <div class="text-center w-1/4">
                        <p>판매 중</p>
                        <p th:text="${saleTradingItems.size()}" class="text-black text-2xl">0</p>
                    </div>
                    <div class="text-center w-1/4">
                        <p>판매 완료</p>
                        <p th:text="${saleCompletedItems.size()}" class="text-black text-2xl">0</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        window.onload = function() {
            var biscuitValue = parseInt(document.getElementById('biscuitValue').textContent.trim(), 10); // `biscuit` 값 가져오기
            var biscuitImage = document.getElementById('biscuitImage');

            var percentage = Math.min(biscuitValue, 100); // `biscuit` 값의 범위를 0%에서 100%로 제한

            // 이미지의 클립 경로를 업데이트하여 표시 비율 조정
            biscuitImage.style.clipPath = `inset(0 ${100 - percentage}% 0 0)`;
        };
    </script>

    <!-- 가격 포맷팅 -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const payBalanceElement = document.getElementById('pay-balance');
            const payBalanceValue = parseInt(payBalanceElement.textContent.replace(/[^0-9]/g, ''), 10);
            payBalanceElement.textContent = new Intl.NumberFormat('ko-KR').format(payBalanceValue) + '원';
        });
    </script>
</main>
</body>
</html>