<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<main class="contents" layout:fragment="content">
    <a href="/user/product/update">상품 수정하기</a>
    <a href="/user/product/bidFailed">유찰</a>
    <a href="/user/product/bidSuccess">낙찰</a>
    <a href="/user/product/detailAuction">상품 상세 구매자</a>
    <a href="/user/product/detailBuyer">상품 상세 경매참여자</a>
    <a href="/user/product/detailSeller">상품 상세 판매자</a>
    <a href="/user/auction/auctionregist">상품 상세 판매자</a>
</main>
</html>