.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.nav-tabs .nav-link {
    color: #495057;
}

.nav-tabs .nav-link.active {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    color: #000000;
    font-weight: bold;
    border-bottom: 3px solid #000;
    font-size: larger;
}

.card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    transition: transform 0.2s;
}

.card-body {
    text-align: left; /* 텍스트 왼쪽 정렬 */
    padding: 15px; /* 카드 본문에 패딩 추가 */
}

.card-title a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: black; /* 링크 텍스트 색상 */
    display: inline-block; /* 링크를 인라인 블록으로 설정 */
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
}

.card-text {
    margin-bottom: 0.5rem; /* 카드 텍스트 사이 간격 조정 */
}

.carousel-inner img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.wishheartbtn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.wishheart {
    width: 1.25rem;
    height: 1.25rem;
    object-fit: contain;
    margin-left: 8px; /* 하트 아이콘 위치 조정 */
}

.wishheartbtn:focus {
    outline: none;
}

.mt-5 {
    margin-top: 1rem !important;
}

/*.carousel-banner img {
    margin-top: 10px;
    height: 520px;
    width: 100%;
    object-fit: cover;
}*/
.carousel-banner {
    position: relative;
    width: 100%;
}

.carousel-banner img {
    margin-top: 10px;
    height: 520px;
    width: 100%;
    object-fit: contain;
    /*background-color: #0dcaf0;*/
}

.carousel-banner-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.category-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.category-card {
    width: 19%;
    min-width: 140px;
    height: 130px;
    text-align: center;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.category-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 50%;

}

.category-card .card-category-title {
    margin: 5px 0;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    z-index: 10;
    color: black;
    font-weight: bold;
    font-size: large;
}

.carousel-item {
    background-color: transparent;
}

