/* style_form.css */
.auction-form-container {
    max-width: 1200px;
    margin: 10px auto;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
}

.form-title {
    font-size: 1.5rem; /* Adjusted to match the logo size as per reference */
    font-weight: bold;
    margin-bottom: 10px;
}

.form-header-line {
    width: 100%;
    height: 2px;
    background-color: #e0e0e0;
    position: relative;
}

.form-header-line::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 120px;
    height: 4px;
    background-color: #1a1a1a;
}

.form-content {
    display: flex;
    margin-top: 40px;
}

.image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    height: 400px;
}

.image-placeholder {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.form-details {
    flex: 1;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 5px;
}

label {
    font-size: 1rem;
    display: block;
    margin-bottom: 8px;
}

.auction-form-container input[type="text"],
.auction-form-container input[type="number"] {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[readonly] {
    background-color: #f9f9f9;
}

.hint {
    font-size: 0.9rem;
    color: #888;
    margin-top: 5px;
}

.form-actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.btn , .cancel-btn, .submit-btn{
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-underline: none;
}

.submit-btn {
    background-color: #486284;
    color: white;
}

.cancel-btn {
    background-color: #f5f5f5;
    color: #333;

}

.disclaimer {
    font-size: 0.8rem;
    color: #f00;
    margin-top: 20px;
}
