/* Carousel item images */
.carousel-item img {
    height: auto;
    max-height: 400px;
}

/* Card image and card container styling */
.card {
    width: 270px; /* Set a fixed width for the card */
    height: 450px; /* Set a fixed height for the card */
    overflow: hidden; /* Ensure content doesn't overflow the card */
}

.card-img-top {
    height: 250px; /* Fixed height for image container */
    object-fit: cover; /* Ensure the image covers the container without distortion */
}

/* Margin top adjustments for sections */
.mt-5 {
    margin-top: 1rem !important;
}

/* Title styling */
h2.text-center {
    margin-bottom: 2rem;
}
/* style_main.css */

/* 실시간 경매 섹션 */
.auction-section-title-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.auction-section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
    position: relative;
    padding-bottom: 10px; /* 선과 텍스트 사이의 여백 */
}

.auction-section-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #e0e0e0; /* 연한 선의 색상 */
    z-index: 1;
}

.auction-section-title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px; /* 진한 선의 길이 */
    height: 2px; /* 진한 선의 두께 */
    background-color: #1a1a1a; /* 진한 선의 색상 */
    z-index: 2;
}
/* 카드와의 간격을 위한 추가 CSS */
.auction-section-content {
    margin-top: 30px; /* 선과 카드 사이의 간격 */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.auction-card {
    margin: 10px 15px; /* 카드 사이의 간격 */
}

.heart-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.heart-img {
    width: 1.25rem; /* card-title의 글씨 크기와 일치 */
    height: 1.25rem; /* 이미지 비율 유지 */
    object-fit: contain; /* 이미지의 원본 비율을 유지 */
}

.heart-btn:focus {
    outline: none; /* 포커스 시 outline 제거 */
}

/*nav*/

.tabs-container {
    width: 100%;
    max-width: 1430px;
    margin: 0 auto;
    padding: 20px;
}

.tabs {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ddd;

}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.tab.active {
    border-bottom: 2px solid #000;
    font-weight: bold;
}

.tab:hover {
    border-bottom: 2px solid #ddd;
}

.tab-content {
    padding: 20px 0;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

