<!DOCTYPE html>
<html layout:decorate="~{admin/layout/default_layout}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/user/assets/css/custom-style.css}">
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
</th:block>

<th:block layout:fragment="script">
	<script th:src="@{/admin/js/summernote.js}"></script>
</th:block>

<div layout:fragment="content">


	<script th:inline="javascript">
        // get editMode
        const editMode = /*[[${editMode}]]*/ false;
	</script>

	<h1>Car info</h1>
	<ol class="breadcrumb mb-4">
		<li class="breadcrumb-item active">Detail Car Info</li>
	</ol>
	<div class="move" style="text-align: right;">
		<a th:href="@{/admin/car/update/{carId}(carId=${carId})}" class="btn btn-primary my-status-button shadow">자동차 정보 수정하기</a>&nbsp;
		<button type="button" onclick="deleteCarInfo()" class="btn btn-primary my-status-button shadow">자동차 정보 삭제</button>
		<script type="text/javascript" th:inline="javascript">

			function deleteCarInfo(){
				// let carId = $("#carId");
				let carId = [[${carId}]];

				$.ajax(
						{
							type:"DELETE",
							url:"/admin/car/delete/"+carId,
							contentType:"application/json; charset=utf-8",
							success:function(result){
								console.log("success ajax");
								alert("삭제 성공")
								console.log("result : " +result);

								// 리스트로
								location.replace("/admin/car/list");

							},
							error:function(e, status, xhr){
								console.log("ajax fail");
								alert("실패")
								console.log(e);
								// 다시 information으로
								location.replace("/admin/car/list");
							}
						}
				)

			}
		</script>
	</div>

	<!--/*@thymesVar id="ProductDto" type="com.sch.shift3.user.dto.ContentFeedDto"*/-->
	<div th:object="${carInfo}">
		<div class="card-body">
			<div class="row mb-3">
				<p id="carId" type="text" th:text="*{carId}" hidden></p>
				<div class="col-8">
					<label class="form-label" for="carName">자동차 이름 & 연식</label>
					<p class="form-control" type="text" id="carName" name="carName" th:text="*{carName}"></p>
				</div>
				<div class="col-8">
					<label class="form-label" for="price">가격</label>
					<p class="form-control" type="number" id="price" name="price" th:text="*{price}"></p>
				</div>

			</div>

			<hr>

			<div class="row mb-3">
				<label class="form-label" for="imgLink">썸네일 이미지 업로드</label>
				<img class="img-fluid" id="imgLink"  th:src="*{imgLink}" type="file"/>
			</div>

		</div>
	</div>
</div>

</html>
