<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{user/fragments/config::configFragment}"></th:block>
    <title>layout</title>
    <link rel="stylesheet" type="text/css" href="/user/css/style.css">
</head>
<body>
    <header th:replace="~{user/fragments/header::headerFragment}"></header>
    <main layout:fragment="content"></main>
    <footer th:replace="~{user/fragments/footer::footerFragment}"></footer>
</body>
</html>